@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
/* 
.slick-arrow  {
  background-color: red;
  color: blue;
} */

.slick-prev:before, .slick-next:before {
  color: #189BA6;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 30px;
}


.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 10px;}